body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  3% 4% 4% 4%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.gameboy-btn{
  text-align: center;
  display: inline-block;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: red;
  text-shadow: -1px -1px black, 1px 1px white;
  color: white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em maroon; 
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  font-size: 30pt;
}

.start-btn{
  display: inline;
  margin-right: 10px;
}

.restart-icon{
  display: none;
  margin-right: 10px;
}

.gameboy-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.instruction{
  color: white;
  text-align: center;
  font-size: 0.5rem;
  line-height: 15px;
  margin-bottom: 10px ;
  letter-spacing: 2px;
  line-height: 1;
  font-family: 'Odibee Sans', cursive;
  display: none;
  font-size: 1.2rem;
}

.sRules{
  font-size: 2rem;
  font-weight: bold;
}

p{  
  margin-left: 10px;
  padding-right: 10px;
  text-shadow: 3px 3px 5px #151515;
}

p:first-child{
  padding-top: 5px;
}

.footer{
  margin-top: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
 
}
/* 
.flex-box{
  flex-direction: row;
} */

.flex-item-left {
  flex: 80%;
}

.flex-item-right {
  flex: 20%;
}


@media screen and (min-device-width: 100px) and (max-device-width: 413px){
  body {
    zoom: 1.6;   
 }

 #level-title{
  margin-top: 10%;
  line-height: 1.5;
 }

 .container{
  margin-top: 10px;
 }

 .instruction{
  font-size: 0.7rem;
 }
 .sRules{
  font-size: 1rem;
 }

 .gameboy-btn{
  font-size: 20pt;
 }
}

@media screen and (min-device-width: 414px) and (max-device-width: 767px){
  body {
    zoom: 1.4;   
 }

 #level-title{
  margin-top: 10%;
  line-height: 1.5;
 }

 .btn{
  zoom: 1.2; 
 }

 .container{
  margin-top: 10px;
 }

 .instruction{
  zoom: 1.3rem;
 }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1000px){
  body {
    zoom: 1.1;   
 }

 #level-title{
  margin-top: 10%;
  line-height: 1.5;
 }

 .btn{
  zoom: 1.4; 
 }

 .container{
  margin-top: 10px;
 }

}

.disabledbutton {
  pointer-events: none;
  opacity: 0.7;
};
